/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGCOFnW3Jk0f09zW_Yln67Ac.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGHZhYM0_6AejPZE-OqA592o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html  {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1  {
  font-size: 2rem;
}

h2  {
  font-size: 1.5rem;
}

p  {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #A5A4A2;
}

h6 {
  font-size: .75rem
}

body  {
  display: flex;
  justify-content: center;
}

.content  {
  width: 75%;
  border: solid hsl(0, 0%, 92%) 0.25px;
}

header  {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

@media screen and (max-width: 700px)  {
  .collapse  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
  }
  header .logo  {
    display: none;
  }
  header .main  {
    display: none;
  }
}

.logo  {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img  {
  height: 2rem;
}

.companyname span  {
  font-weight: 600;
}

.main  {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.main span  {
  margin: 0 0.5rem;
}

.bannerbox  {
  width: 100%;
  height: auto;
}

.greyback  {
  background-color: #D7D7D7;
}

.darker  {
  color: #6A6A6A
}

.bannerdisplay  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2,
.section4  {
  display: flex;
  justify-content: space-between;
  border: solid hsl(0, 0%, 92%) 0.25px;
}

.leftvideo  {
  max-width: 60%;
}

.details  {
  margin-left: 1.5rem;
  width: 75%;
}

.details h2  {
  padding-bottom: 1.5rem;
}

.details h6  {
  display: block;
  font-weight: 600;
  position: relative;
  top: 2rem;
}

.bannerdetails  {
  width: 100%;
}

.bannerdetail h1, h3  {
  font-weight: 600;
  color: #4B4B4B;
  padding-bottom: 1.5rem;
}

.defaultpic  {
  background-image: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 2rem 1.5rem;

}

.picurl1  {
  background-image: url(../images/banner.jpg);
  height: 425px;
  width: 60%;
}

.picurl2  {
  background-size: contain;
  background-image: url(../images/information-main.jpg);
  height: 300px;
  width: 100%;
}

.bannerdetail  {
  width: 40%;
}

button  {
  width: 70%;
  padding: 0.5rem;
  background-color: #4B4B4B;
}

button a {
  text-decoration: none;
  color: white;
}

.leftimage  {
  max-width: 60%;
}

.rightbloc  {
  margin-top: 1rem;
  width: 40%;
}

.bloc  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.smallpic  {
  width: 35%;
  height: auto;
  margin: 1rem 1rem 1rem 1rem;
}

.smallpic img  {
  max-width: 100%;
  max-height: auto;
}

.mobilepic  {
  display: none;
}

.bloccontent h3  {
  padding-bottom: 8px;
}

.bloccontent p  {
  padding-bottom: 8px;
}

.bloccontent a {
  color: blue;
  text-decoration: none;
  transition: color 750ms ease-out 100ms,
              font-size 750ms linear 100ms;
}

.bloccontent a:hover  {
  color: green;
  font-size: 1.25rem;
}

.learnbox  {
  height: auto;
  width: 100%
}

.section3  {
  margin: 2rem 3.5rem;
  padding-bottom: 1rem;
}

.section3 h1  {
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.row1,
.row2  {
  display: flex;
}

.learnbloc  {
  width: 264px;
  margin: 1rem;
  background-color: white;
}

.learnbloc img  {
  width: 100%;
  height: auto;
}

.learndetail  {
  padding: 1rem 1rem 1.5rem 1rem;
}

.thesisbox h2  {
  text-align: center;
  padding-bottom: 2rem;
  font-weight: 600;
}

.fismapic  {
  width: 35%;
  height: auto;
  margin: 1rem 1rem 1rem 1rem;
}

.fismapic img  {
  max-width: 100%;
  max-height: auto;
}

.lineup  {
  margin-top: 1rem;
}

video  {
  width: 90%;
  height: auto;
  padding: 2rem 1.5rem;
}

.mobilevideo  {
  display: none;
}



#headleft  {
  text-align: left;
}

#urbandetails  {
  padding-bottom: 2rem;
}

hr  {
  width: 95%;
}

footer  {
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
  margin: 1rem 1.5rem 3rem 1.5rem;
}

footer a {
  text-decoration: none;
  padding: 0 1rem;
}

@media screen and (max-width: 1020px)  {
  .bannerdisplay  {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  .defaultpic  {
    background-size: cover;
    margin: 0;
  }
  .picurl1  {
    width: 100%;
    height: 200px;
  }
  .bannerdetail  {
    margin: 0 1rem;
    width: 95%;
  }
  .bannerdetail h1, h2  {
    font-weight: 900;
  }

  .bannerdetail h1  {
    margin: 2rem 0;
  }

  .btn  {
    text-align: center;
  }

  button  {
    width: 90%;
    background-color: #A0A0A0;
    font-weight: 600;
    margin-bottom: 2rem;
    transition: background-color 750ms ease-out 300ms;
  }

  button:hover  {
    background-color: rgba(250, 169, 82, 0.7);
  }
}


@media screen and (max-width: 985px)  {
  .leftimage  {
    display: none;
  }
  .section2  {
    display: flex;
    justify-content: center;
  }
  .bloc  {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0rem 1rem 4rem 1rem;
  }

  .bloc:nth-child(1n+3)  {
    background-color: white;
  }

  .rightbloc  {
    width: 100%;
  }

  .smallpic  {
    display: none;
  }

  .mobilepic  {
    display: block;
  }

  .mobilepic img  {
    max-width: 100%;
  }

  .bloccontent h3  {
    font-size: 2rem;
    color: #888888;
    margin: 2rem 1rem 1rem 1rem;
  }

  .bloccontent p  {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  .section4  {
    display: none;
  }

  .mobilevideo  {
    display: block;
  }

}

@media screen and (max-width: 750px)  {
  .section3  {
    margin: 0 1rem;
  }

  .row1,
  .row2  {
    display: none;
  }

  .greyback  {
    background-color: white;
  }

  .mobilelearning li {
    align-content: center;
    background-color: #D7D7D7;
    margin-bottom: 8px;
    transition: background-color 500ms ease-in 200ms;
  }

  .mobilelearning li:hover  {
    background-color: rgba(250, 169, 82, 0.7)	;
  }

  .mobilelearning h3  {
    padding: 1rem 1rem 1.5rem 2rem;
  }

  .mobilelearning li:last-child  {
    margin-bottom: 0;
  }

  .break  {
    display: none;
  }

  .section3  {
    padding-bottom: 2rem;
  }

  .thesisbox h2  {
    font-weight: 900;
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
  }

  .terms  {
    display: none;
  }

}


  @media screen and (min-width: 750px)  {
    .mobilelearning  {
      display: none;
    }
  }

  @media screen and (min-width: 700px)  {
    header .collapse  {
      display: none;
    }
  }
