html  {
  font-size: 16px;
}

h1  {
  font-size: 2rem;
}

h2  {
  font-size: 1.5rem;
}

body  {
  display: flex;
  justify-content: center;
}

.content  {
  width: 1000px;
  border: dashed #4B4B4B 0.5px;
}

header  {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.logo  {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img  {
  height: 2rem;
}

.companyname span  {
  font-weight: 600;
}

.main  {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.main span  {
  margin: 0 0.5rem;
}

.bannerbox  {
  width: 100%;
  height: auto;
}

.greyback  {
  background-color: #D7D7D7;
}

.bannerdisplay  {
  display: flex;
  justify-content: center;
  align-items: center
}

.section2  {
  display: flex;
  justify-content: space-between;
}

.headings  {
  width: 100%;
  border: solid orange 5px;
}

.headings h1, h3  {
  font-weight: 600;
  color: #4B4B4B;
  padding-bottom: 1.5rem;
}

.defaultpic  {
  background-image: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem 1.5rem;
}

.picurl1  {
  background-image: url(file:///C:/Users/smithr/Documents/Projects/capstone_colmar_project/resources/images/banner.jpg);
  height: 425px;
  width: 60%;
  border: solid black 3px;
}

.picurl2  {
  background-size: contain;
  background-image: url(file:///C:/Users/smithr/Documents/Projects/capstone_colmar_project/resources/images/information-main.jpg);
  height: 300px;
  width: 100%;
}

.headings  {
  width: 40%;
}

button  {
  width: 70%;
  background-color: #4B4B4B;
}

button a {
  padding: 0.5rem;
  text-decoration: none;
  color: white;
}

.leftimage  {
  max-width: 60%;
}

.tribloc  {
  margin-top: 1rem;
  width: 40%;
}

.bloc  {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.smallpic  {
  width: 35%;
  height: auto;
  margin: 1rem 1rem 1rem 0;
}

.smallpic img  {
  max-width: 100%;
  max-height: auto;
}

.bloccontent h3  {
  padding-bottom: 8px;
}

.bloccontent p  {
  padding-bottom: 8px;
  font-size: 0.75rem;
}

.learnbox  {
  height: auto;
  width: 100%

}

.section3  {
  margin: 2rem 3.5rem;
  padding-bottom: 1rem;
  border: solid orange 2px;
}

.section3 h1  {
  text-align: center;
  padding: 2rem 0 1rem 0;
}

.row1,
.row2  {
  display: flex;
}

.learnbloc  {
  width: 264px;
  margin: 1rem;
  background-color: white;
}

.learnbloc img  {
  width: 100%;
  height: auto;
}

.learndetail  {
  padding: 1rem 1rem 1.5rem 1rem;
}
